.App {
  text-align: center;
}

.lanes {
  margin: 10% auto;
  display: flex;
}

.lanes > .checkout-lane {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  margin: auto;
}

.items {
  list-style: none;
}